---
import GitHubCorner from "./GitHubCorner.astro";
---

<footer class="mt-16 container mx-auto">
  <p>Made by <span class="text-pink-300">Yatko</span> &lt;3</p>
  <p class="text-sm text-gray-400">
    Non-affiliated with LFI. All Trademarks referred to are the property of their respective owners.
  </p>
</footer>
<GitHubCorner />
