---
import NavLink from "./NavLink.astro";

const { page } = Astro.props;
---

<header class="container mx-auto">
  <hgroup>
    <h1 class="text-4xl">LFI results</h1>
    <p>Lewis Fulham Invitational results</p>
  </hgroup>
  <p class="text-sm text-gray-400 mt-1">
    For more info visit the
    <a
      class="underline inline-flex"
      href="https://liquipedia.net/lab/Minecraft/Lewis_Fulham_Invitational/Season_1"
      target="_blank"
    >
      liquipedia page
    </a>.
  </p>
  <nav class="mt-4">
    <ul class="flex gap-2">
      <li>
        <NavLink path="/">Home</NavLink>
      </li>
      <li>
        <NavLink path="/stats">Stats</NavLink>
      </li>
    </ul>
  </nav>
</header>
