<header class="container mx-auto">
  <hgroup>
    <h1 class="text-4xl">LFI results</h1>
    <p>Lewis Fulham Invitational results</p>
  </hgroup>
  <p class="text-sm text-gray-400 mt-1">
    For more info visit the
    <a
      class="underline inline-flex"
      href="https://liquipedia.net/lab/Minecraft/Lewis_Fulham_Invitational/Season_1"
      target="_blank"
    >
      liquipedia page
    </a>.
  </p>
</header>
